In [113]:
# Import dependencies
import os
import pandas as pd
import regex
import re
import numpy as np
from numpy import nan

Links to datasets
https://studentaid.gov/data-center/student/portfolio
https://www.bls.gov/emp/tables/unemployment-earnings-education.htm

## LoanByAgeDebtSize

Federal Student Loan Portfolio by Borrower Age and Debt Size	

Includes outstanding principal and interest balances

Note: Due to rounding and timing differences, the total figures may differ slightly from those in the Portfolio Summary report.

In [131]:
# Load the data
# https://studentaid.gov/data-center/student/portfolio

# Federal Student Loan Portfolio by Borrower Age and Debt Size	
# Data Source: Enterprise Data Warehouse
# Data as of June 30, 2022
file_to_load = os.path.join("Resources", "Portfolio-by-Age-Debt-Size.xls")

age_debt_df = pd.read_excel(file_to_load, skiprows = 6)

# Fix column names
AD_column_names = [
    "debt_size", "debt_outstanding($bil)24_younger", "borrowers(mil)24_younger",
    "debt_outstanding($bil)25_34", "borrowers(mil)25_34", 
    "debt_outstanding($bil)35_49", "borrowers(mil)35_49",  
    "debt_outstanding($bil)50_61", "borrowers(mil)50_61", 
    "debt_outstanding($bil)62_older", "borrowers(mil)62_older"
    ]
age_debt_df.columns = [AD_column_names]
#Set index
age_debt_df = age_debt_df.set_index("debt_size")
# Drop empty rows
age_debt_df = age_debt_df[0:9]

age_debt_df

,debt_outstanding($bil)24_younger,borrowers(mil)24_younger,debt_outstanding($bil)25_34,borrowers(mil)25_34,debt_outstanding($bil)35_49,borrowers(mil)35_49,debt_outstanding($bil)50_61,borrowers(mil)50_61,debt_outstanding($bil)62_older,borrowers(mil)62_older
debt_size,,,,,,,,,,
"(Less than 5K,)",3.70,1.24,6.18,2.22,5.27,2.06,2.41,0.96,1.17,0.49
"(5K to 10K,)",13.68,2.05,17.35,2.34,13.82,1.86,6.53,0.88,2.90,0.39
"(10K to 20K,)",27.76,1.92,46.94,3.23,37.68,2.59,16.19,1.12,6.41,0.44
"(20K to 40K,)",38.36,1.43,106.14,3.71,85.27,2.94,34.37,1.19,12.30,0.43
"(40K to 60K,)",7.17,0.15,73.29,1.50,85.59,1.74,33.98,0.69,11.29,0.23
"(60K to 80K,)",3.36,0.05,50.74,0.74,82.73,1.20,33.09,0.48,10.64,0.15
"(80K to 100K,)",2.27,0.03,28.44,0.32,59.41,0.67,27.39,0.31,8.82,0.10
"(100K to 200K,)",4.48,0.03,79.52,0.57,144.36,1.05,78.25,0.57,26.92,0.19
"(200K+,)",0.94,0.00,86.78,0.29,115.33,0.39,56.64,0.20,23.47,0.08

In [132]:
age_debt_df.to_csv('Resources/cleaned_age_debt_df.csv', index = True)

In [76]:
age_debt_df.dtypes
# To be usable, first row of data needs to be combined with column name then columns converted to float

debt_outstanding($bil)24_younger    float64
borrowers(mil)24_younger            float64
debt_outstanding($bil)25_34         float64
borrowers(mil)25_34                 float64
debt_outstanding($bil)35_49         float64
borrowers(mil)35_49                 float64
debt_outstanding($bil)50_61         float64
borrowers(mil)50_61                 float64
debt_outstanding($bil)62_older      float64
borrowers(mil)62_older              float64
dtype: object

## EdAttainment

Educational attainment for workers 25 years and older by detailed occupation, 2018-19

https://www.bls.gov/emp/tables/unemployment-earnings-education.htm

In [27]:
file_to_load = os.path.join("Resources", "education_attainment.csv")

# Table 5.3 Educational attainment for workers 25 years and older by detailed occupation, 2018-19	
attainment_df = pd.read_csv(file_to_load, skiprows = 1)
attainment_df = attainment_df.drop([833, 834, 835, 836])
attainment_df

,2021 National Employment Matrix title,2021 National Employment Matrix code,Less than high school diploma,High school diploma or equivalent,"Some college, no degree",Associate's degree,Bachelor's degree,Master's degree,Doctoral or professional degree
0,"Total, all occupations",00-0000,8.0,23.6,20.2,9.6,23.7,10.6,4.4
1,Chief executives(1),11-1011,1.5,8.3,14.2,5.1,40.5,23.7,6.7
2,General and operations managers,11-1021,2.6,17.0,24.8,9.8,33.0,11.1,1.6
3,Legislators(1),11-1031,1.5,8.3,14.2,5.1,40.5,23.7,6.7
4,Advertising and promotions managers,11-2011,0.8,3.9,10.8,6.0,63.6,12.8,2.1
...,...,...,...,...,...,...,...,...,...
828,"Pump operators, except wellhead pumpers(1)",53-7072,14.0,43.8,22.3,7.7,10.0,2.2,0.0
829,Wellhead pumpers(1),53-7073,14.0,43.8,22.3,7.7,10.0,2.2,0.0
830,Refuse and recyclable material collectors,53-7081,23.3,46.9,18.0,5.0,6.3,0.3,0.1
831,"Tank car, truck, and ship loaders(1)",53-7121,19.8,48.2,19.1,6.2,5.7,0.8,0.1
832,"Material moving workers, all other(1)",53-7199,19.8,48.2,19.1,6.2,5.7,0.8,0.1

In [124]:
attainment_df.to_csv('Resources/cleaned_attainment_df.csv', index = True)

In [78]:
attainment_df.dtypes

2021 National Employment Matrix title     object
2021 National Employment Matrix code      object
Less than high school diploma            float64
High school diploma or equivalent        float64
Some college, no degree                  float64
Associate's degree                       float64
Bachelor's degree                        float64
Master's degree                          float64
Doctoral or professional degree          float64
dtype: object

## EdTraining

Education and training assignments by detailed occupation, 2021

In [85]:
file_to_load = os.path.join("Resources", "education_training.csv")

# Table 5.4 Education and training assignments by detailed occupation, 2021
training_df = pd.read_csv(file_to_load, skiprows = 1)
training_df = training_df[0:832]

training_df

,2021 National Employment Matrix title,2021 National Employment Matrix code,Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
0,Chief executives,11-1011,Bachelor's degree,5 years or more,None
1,General and operations managers,11-1021,Bachelor's degree,5 years or more,None
2,Legislators,11-1031,Bachelor's degree,Less than 5 years,None
3,Advertising and promotions managers,11-2011,Bachelor's degree,Less than 5 years,None
4,Marketing managers,11-2021,Bachelor's degree,5 years or more,None
...,...,...,...,...,...
827,"Pump operators, except wellhead pumpers",53-7072,High school diploma or equivalent,None,Moderate-term on-the-job training
828,Wellhead pumpers,53-7073,High school diploma or equivalent,Less than 5 years,Moderate-term on-the-job training
829,Refuse and recyclable material collectors,53-7081,No formal educational credential,None,Short-term on-the-job training
830,"Tank car, truck, and ship loaders",53-7121,No formal educational credential,None,Short-term on-the-job training
831,"Material moving workers, all other",53-7199,No formal educational credential,None,Short-term on-the-job training

In [84]:
training_df["Typical education needed for entry"].unique()

array(["Bachelor's degree", 'High school diploma or equivalent',
       "Master's degree", "Associate's degree",
       'Postsecondary nondegree award',
       'No formal educational credential', 'Some college, no degree',
       'Doctoral or professional degree', nan], dtype=object)

In [81]:
training_df.dtypes

2021 National Employment Matrix title                                        object
2021 National Employment Matrix code                                         object
Typical education needed for entry                                           object
Work experience in a related occupation                                      object
Typical on-the-job training needed to attain competency in the occupation    object
dtype: object

## EmpWages

Employment, wages, and projected change in employment by typical entry-level education (Employment in thousands)

(1) Data are from the Occupational Employment Statistics program, U.S. Bureau of Labor Statistics.  Wage data cover non-farm wage and salary workers and do not cover the self-employed, owners and partners in unincorporated firms, or household workers."

Note: The occupational employment and growth rates shown in this table include projected growth in all jobs from 2021-31, not just entry-level jobs. Entry-level education reflects 2021 requirements�BLS does not project educational requirements."

In [82]:
file_to_load = os.path.join("Resources", "employment_wages.csv")

# Read the CSV into a DataFrame
# https://stackoverflow.com/questions/55076502/utf-8-codec-cant-decode-byte-0xb5-in-position-0-invalid-start-byte
# index_col=None, header=0,

# Table 5.2 Employment, wages, and projected change in employment by typical entry-level education (Employment in thousands)
employment_wages_df = pd.read_csv(file_to_load, encoding='latin-1', skiprows = 1)
employment_wages_df = employment_wages_df[0:9]
employment_wages_df

# Switch columns with rows to fit in database

,Typical entry-level education,"Employment, 2021","Employment distribution, percent, 2021","Percent employment change, 2021-31","Median annual wage, 2021(1)"
0,"Total, all occupations","158,134.7",100.0,5.3,"$45,760"
1,Doctoral or professional degree,"4,272.4",2.7,9.1,"$115,010"
2,Master's degree,"2,983.7",1.9,13.6,"$77,750"
3,Bachelor's degree,"38,360.1",24.3,8.2,"$78,580"
4,Associate's degree,"3,368.0",2.1,8.8,"$59,260"
5,Postsecondary nondegree award,"9,793.1",6.2,6.7,"$44,420"
6,"Some college, no degree","4,133.2",2.6,0.8,"$37,960"
7,High school diploma or equivalent,"60,945.8",38.5,2.9,"$38,290"
8,No formal educational credential,"34,278.3",21.7,4.8,"$29,420"

In [83]:
employment_wages_df.dtypes

Typical entry-level education              object
Employment, 2021                           object
Employment distribution, percent, 2021    float64
Percent employment change, 2021-31        float64
Median annual wage, 2021(1)                object
dtype: object

## UnempEarnings

Unemployment rates and earnings by educational attainment, 2021	

Note: Data are for persons age 25 and over. Earnings are for full-time wage and salary workers.

In [53]:
file_to_load = os.path.join("Resources", "unemployment_earnings.csv")

# Table 5.1 Unemployment rates and earnings by educational attainment, 2021	
unemployment_earnings_df = pd.read_csv(file_to_load, skiprows = 1)
unemployment_earnings_df = unemployment_earnings_df[0:9]
unemployment_earnings_df

,Educational attainment,Median usual weekly earnings ($),Unemployment rate (%)
0,Doctoral degree,"1,909",1.5
1,Professional degree,"1,924",1.8
2,Master's degree,"1,574",2.6
3,Bachelor's degree,"1,334",3.5
4,Associate's degree,963,4.6
5,"Some college, no degree",899,5.5
6,High school diploma,809,6.2
7,Less than a high school diploma,626,8.3
8,Total,"1,057",4.7

## OccDecline

https://www.bls.gov/emp/

Fastest declining occupations, 2021 and projected 2031 (Numbers in thousands)

(1) Data are from the Occupational Employment and Wage Statistics program, U.S. Bureau of Labor Statistics. Wage data cover non-farm wage and salary workers and do not cover the self-employed, owners and partners in unincorporated firms, or household workers.

Note: Data is unavailable for values denoted with a ""�""."

In [54]:
# Fastest declining occupations, 2021 and projected 2031 (Numbers in thousands)
file_to_load = os.path.join("Resources", "occupation_decline.csv")
occ_decline_df = pd.read_csv(file_to_load, encoding='latin-1', skiprows = 1)
occ_decline_df = occ_decline_df[0:31]

occ_decline_df

,2021 National Employment Matrix title,2021 National Employment Matrix code,"Employment, 2021","Employment, 2031","Employment change, 2021-31","Percent employment change, 2021-31","Median annual wage, 2021(1)"
0,"Total, all occupations",00-0000,"158,134.7","166,452.1","8,317.4",5.3,"$45,760"
1,Word processors and typists,43-9022,46.1,28.5,-17.6,-38.2,"$44,030"
2,Parking enforcement workers,33-3041,8.6,5.4,-3.2,-37.1,"$46,590"
3,"Cutters and trimmers, hand",51-9031,8.2,5.9,-2.3,-28.4,"$30,230"
4,Nuclear power reactor operators,51-8011,4.8,3.5,-1.3,-26.8,"$104,260"
5,Print binding and finishing workers,51-5113,42.2,31.8,-10.5,-24.8,"$36,590"
6,Watch and clock repairers,49-9064,2.2,1.7,-0.5,-24.7,"$44,250"
7,Data entry keyers,43-9021,155.9,117.4,-38.5,-24.7,"$35,630"
8,Telephone operators,43-2021,4.0,3.0,-1.0,-24.5,"$37,630"
9,"Switchboard operators, including answering ser...",43-2011,49.0,37.2,-11.8,-24.0,"$30,150"
10,"Electronic equipment installers and repairers,...",49-2096,9.2,7.1,-2.2,-23.4,"$40,670"
11,Prepress technicians and workers,51-5111,26.0,20.1,-5.9,-22.7,"$42,610"
12,"Roof bolters, mining",47-5043,1.9,1.5,-0.4,-21.5,"$59,770"
13,Floral designers,27-1023,44.4,35.1,-9.3,-21.0,"$29,880"
14,Manufactured building and mobile home installers,49-9095,3.9,3.1,-0.8,-20.3,"$36,360"
15,"Refractory materials repairers, except brickma...",49-9045,0.7,0.5,-0.1,-20.2,"$54,250"
16,Executive secretaries and executive administra...,43-6011,508.0,405.4,-102.6,-20.2,"$62,060"
17,"Aircraft structure, surfaces, rigging, and sys...",51-2011,34.3,27.7,-6.6,-19.4,"$49,480"
18,Legal secretaries and administrative assistants,43-6012,157.8,127.5,-30.4,-19.2,"$47,710"
19,"Grinding and polishing workers, hand",51-9022,16.1,13.1,-3.0,-18.7,"$35,670"
20,"Drilling and boring machine tool setters, oper...",51-4032,6.9,5.6,-1.3,-18.6,"$38,580"
21,"Forging machine setters, operators, and tender...",51-4022,11.8,9.6,-2.2,-18.3,"$44,520"
22,Timing device assemblers and adjusters,51-2061,0.6,0.5,-0.1,-18.3,"$37,780"
23,Telemarketers,41-9041,115.7,94.7,-21.0,-18.2,"$28,910"
24,"Coil winders, tapers, and finishers",51-2021,11.4,9.3,-2.0,-17.9,"$38,360"
25,"Loading and moving machine operators, undergro...",47-5044,4.5,3.7,-0.8,-17.8,"$57,900"
26,"Milling and planing machine setters, operators...",51-4035,15.2,12.5,-2.7,-17.7,"$46,850"
27,Order clerks,43-4151,143.9,119.7,-24.2,-16.8,"$37,920"
28,Nuclear technicians,19-4051,5.4,4.5,-0.9,-16.6,"$99,340"
29,Structural metal fabricators and fitters,51-2041,63.6,53.6,-10.1,-15.8,"$45,480"
30,Power plant operators,51-8013,29.2,24.7,-4.5,-15.5,"$80,850"

In [ ]:
occ_decline_df

## OccGrowing

Fastest growing occupations, 2021 and projected 2031 (Numbers in thousands)

(1) Data are from the Occupational Employment and Wage Statistics program, U.S. Bureau of Labor Statistics. Wage data cover non-farm wage and salary workers and do not cover the self-employed, owners and partners in unincorporated firms, or household workers."

Note: Data is unavailable for values denoted with a ""�""."

In [86]:
# Fastest growing occupations, 2021 and projected 2031 (Numbers in thousands)
file_to_load = os.path.join("Resources", "occupation_growing.csv")
occ_growing_df = pd.read_csv(file_to_load, encoding='latin-1', skiprows = 1)
occ_growing_df = occ_growing_df[1:31]

occ_growing_df

,2021 National Employment Matrix title,2021 National Employment Matrix code,"Employment, 2021","Employment, 2031","Employment change, 2021-31","Percent employment change, 2021-31","Median annual wage, 2021(1)"
1,Nurse practitioners,29-1171,246.7,359.4,112.7,45.7,"$120,680"
2,Wind turbine service technicians,49-9081,11.1,16.1,4.9,44.3,"$56,260"
3,"Ushers, lobby attendants, and ticket takers",39-3031,63.2,88.8,25.6,40.5,"$24,440"
4,Motion picture projectionists,39-3021,2.0,2.8,0.8,40.3,"$29,350"
5,"Cooks, restaurant",35-2014,"1,255.6","1,715.6",459.9,36.6,"$30,010"
6,Data scientists,15-2051,113.3,153.9,40.5,35.8,"$100,910"
7,Athletes and sports competitors,27-2021,15.8,21.5,5.7,35.7,"$77,300"
8,Information security analysts,15-1212,163.0,219.5,56.5,34.7,"$102,600"
9,Statisticians,15-2041,34.2,45.3,11.2,32.7,"$95,570"
10,"Umpires, referees, and other sports officials",27-2023,13.2,17.4,4.2,31.7,"$35,860"
11,Web developers,15-1254,95.3,124.1,28.9,30.3,"$77,030"
12,Animal caretakers,39-2021,290.7,377.6,86.9,29.9,"$28,600"
13,Choreographers,27-2032,6.3,8.1,1.9,29.7,"$42,700"
14,Taxi drivers,53-3054,128.5,165.1,36.6,28.5,"$29,310"
15,Medical and health services managers,11-9111,480.7,616.9,136.2,28.3,"$101,340"
16,Logisticians,13-1081,195.0,249.1,54.1,27.7,"$77,030"
17,Physician assistants,29-1071,139.1,177.5,38.4,27.6,"$121,530"
18,Solar photovoltaic installers,47-2231,17.1,21.7,4.6,27.2,"$47,670"
19,Animal trainers,39-2011,52.9,67.2,14.3,27.1,"$31,280"
20,Physical therapist assistants,31-2021,96.5,122.1,25.6,26.5,"$61,180"
21,Software developers,15-1252,"1,425.9","1,796.5",370.6,26.0,"$120,730"
22,Epidemiologists,19-1041,8.6,10.9,2.2,25.8,"$78,830"
23,Occupational therapy assistants,31-2011,43.4,54.5,11.0,25.4,"$61,730"
24,Home health and personal care aides,31-1120,"3,636.9","4,560.9",924.0,25.4,"$29,430"
25,"Personal care and service workers, all other",39-9099,104.4,130.4,26.0,24.9,"$29,610"
26,Dancers,27-2031,6.2,7.7,1.5,24.5,NaN
27,"Health specialties teachers, postsecondary",25-1071,246.7,306.1,59.4,24.1,"$102,720"
28,"Entertainment attendants and related workers, ...",39-3099,4.7,5.8,1.1,23.2,"$24,170"
29,Operations research analysts,15-2031,104.2,128.3,24.2,23.2,"$82,360"
30,"Roustabouts, oil and gas",47-5071,37.3,45.9,8.6,23.0,"$38,920"

In [104]:
cleaned_growing_df = occ_growing_df.copy()
cleaned_growing_df.columns = ["EmpMatrixTitle", "EmpMatrixCode", "Emp21", "Emp31", "Change", "ChangePct", "MedWageYr"]
cleaned_growing_df = cleaned_growing_df[["EmpMatrixTitle", "Emp21", "Emp31", "Change", "ChangePct", "MedWageYr"]]

,EmpMatrixTitle,Emp21,Emp31,Change,ChangePct,MedWageYr
1,Nurse practitioners,246.7,359.4,112.7,45.7,"$120,680"
2,Wind turbine service technicians,11.1,16.1,4.9,44.3,"$56,260"
3,"Ushers, lobby attendants, and ticket takers",63.2,88.8,25.6,40.5,"$24,440"
4,Motion picture projectionists,2.0,2.8,0.8,40.3,"$29,350"
5,"Cooks, restaurant","1,255.6","1,715.6",459.9,36.6,"$30,010"
6,Data scientists,113.3,153.9,40.5,35.8,"$100,910"
7,Athletes and sports competitors,15.8,21.5,5.7,35.7,"$77,300"
8,Information security analysts,163.0,219.5,56.5,34.7,"$102,600"
9,Statisticians,34.2,45.3,11.2,32.7,"$95,570"
10,"Umpires, referees, and other sports officials",13.2,17.4,4.2,31.7,"$35,860"
11,Web developers,95.3,124.1,28.9,30.3,"$77,030"
12,Animal caretakers,290.7,377.6,86.9,29.9,"$28,600"
13,Choreographers,6.3,8.1,1.9,29.7,"$42,700"
14,Taxi drivers,128.5,165.1,36.6,28.5,"$29,310"
15,Medical and health services managers,480.7,616.9,136.2,28.3,"$101,340"
16,Logisticians,195.0,249.1,54.1,27.7,"$77,030"
17,Physician assistants,139.1,177.5,38.4,27.6,"$121,530"
18,Solar photovoltaic installers,17.1,21.7,4.6,27.2,"$47,670"
19,Animal trainers,52.9,67.2,14.3,27.1,"$31,280"
20,Physical therapist assistants,96.5,122.1,25.6,26.5,"$61,180"
21,Software developers,"1,425.9","1,796.5",370.6,26.0,"$120,730"
22,Epidemiologists,8.6,10.9,2.2,25.8,"$78,830"
23,Occupational therapy assistants,43.4,54.5,11.0,25.4,"$61,730"
24,Home health and personal care aides,"3,636.9","4,560.9",924.0,25.4,"$29,430"
25,"Personal care and service workers, all other",104.4,130.4,26.0,24.9,"$29,610"
26,Dancers,6.2,7.7,1.5,24.5,NaN
27,"Health specialties teachers, postsecondary",246.7,306.1,59.4,24.1,"$102,720"
28,"Entertainment attendants and related workers, ...",4.7,5.8,1.1,23.2,"$24,170"
29,Operations research analysts,104.2,128.3,24.2,23.2,"$82,360"
30,"Roustabouts, oil and gas",37.3,45.9,8.6,23.0,"$38,920"

In [121]:
cleaned_growing_df = re.sub('$', repl='', cleaned_growing_df)

SyntaxError: positional argument follows keyword argument (876713389.py, line 1)

In [56]:
# Factors affecting occupational utilization, projected 2021-31
file_to_load = os.path.join("Resources", "occupation_factors.csv")
occ_factors_df = pd.read_csv(file_to_load, encoding='latin-1', skiprows = 1)
occ_factors_df = occ_factors_df[0:1107]

occ_factors_df

,2020 National Employment Matrix occupation title,2021 National Empoyment Matrix occupation code,2021 National Employment Matrix industry title,2021 National Empoyment Matrix industry code,Factors affecting occupational utilization
0,Chief executives,11-1011,Total employment,TE1000,Productivity change - share decreases as chang...
1,Advertising and promotions managers,11-2011,Automobile dealers,441100,Productivity change - share decreases as conso...
2,Marketing managers,11-2021,Automobile dealers,441100,Productivity change - share decreases as conso...
3,Marketing managers,11-2021,Sound recording industries,512200,Demand change - share increases as an expected...
4,Sales managers,11-2022,Automobile dealers,441100,Demand change - share decreases as growth in o...
...,...,...,...,...,...
1102,Wellhead pumpers,53-7073,Oil and gas extraction,211000,Productivity change - share decreases as autom...
1103,Wellhead pumpers,53-7073,Support activities for mining,213000,Productivity change - share decreases as autom...
1104,"Material moving workers, all other",53-7199,Coal mining,212100,Productivity change - share decreases as the i...
1105,"Material moving workers, all other",53-7199,Nonmetallic mineral mining and quarrying,212300,Productivity change - share decreases as the i...
1106,"Material moving workers, all other",53-7199,Warehousing and storage,493000,Productivity change - share decreases as conti...

In [ ]:
occ_factors_df["Factors affecting occupational utilization"].unique()

In [57]:
# Table 1.7 Occupational projections, 2021-31, and worker characteristics, 2021 (Numbers in thousands)
file_to_load = os.path.join("Resources", "occupation_projections.csv")
occ_projections_df = pd.read_csv(file_to_load, encoding='latin-1', skiprows = 1)
occ_projections_df = occ_projections_df[0:1113]

occ_projections_df

,2021 National Employment Matrix title,2021 National Employment Matrix code,Occupation type,"Employment, 2021","Employment, 2031","Employment change, 2021-31","Percent employment change, 2021-31","Percent self employed, 2021","Occupational openings, 2021-31 annual average","Median annual wage, 2021(1)",Typical education needed for entry,Work experience in a related occupation,Typical on-the-job training needed to attain competency in the occupation
0,"Total, all occupations",00-0000,Summary,"158,134.7","166,452.1","8,317.4",5.3,6.3,"19,532.5","$45,760",,,
1,Management occupations,11-0000,Summary,"11,685.3","12,569.2",883.9,7.6,17.6,"1,101.8","$102,450",,,
2,Top executives,11-1000,Summary,"3,447.8","3,638.6",190.7,5.5,2.2,321.9,"$98,720",,,
3,Chief executives,11-1011,Line item,283.9,263.3,-20.6,-7.3,22.8,17.7,"$179,520",Bachelor's degree,5 years or more,None
4,General and operations managers,11-1021,Line item,"3,118.4","3,328.2",209.8,6.7,0.4,300.4,"$97,970",Bachelor's degree,5 years or more,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,"Pump operators, except wellhead pumpers",53-7072,Line item,11.0,12.3,1.3,11.4,2.5,1.5,"$49,580",High school diploma or equivalent,None,Moderate-term on-the-job training
1109,Wellhead pumpers,53-7073,Line item,18.0,18.6,0.6,3.3,2.4,2.3,"$63,740",High school diploma or equivalent,Less than 5 years,Moderate-term on-the-job training
1110,Refuse and recyclable material collectors,53-7081,Line item,138.7,146.2,7.5,5.4,7.2,20.6,"$38,500",No formal educational credential,None,Short-term on-the-job training
1111,"Tank car, truck, and ship loaders",53-7121,Line item,13.5,13.1,-0.3,-2.5,8.5,1.7,"$49,390",No formal educational credential,None,Short-term on-the-job training
1112,"Material moving workers, all other",53-7199,Line item,25.0,26.0,1.1,4.3,7.6,3.5,"$36,150",No formal educational credential,None,Short-term on-the-job training

In [47]:
# Table 1.1 Employment by major occupational group, 2021 and projected 2031
file_to_load = os.path.join("Resources", "occupation.xlsx")
occ_df = pd.read_excel(file_to_load, skiprows = 1)
occ_df

   Table 1.1 Employment by major occupational group, 2021 and projected 2031
0   Table 1.1A Employment by major occupational gr...
1   Table 1.2 Employment by detailed occupation, 2...
2   Table 1.3 Fastest growing occupations, 2021 an...
3   Table 1.4 Occupations with the most job growth...
4   Table 1.5 Fastest declining occupations, 2021 ...
5   Table 1.6 Occupations with the largest job dec...
6   Table 1.7 Occupational projections, 2021-31, a...
7   Table 1.8 2021-31 Industry-occupation matrix d...
8   Table 1.9 2021-31 Industry-occupation matrix d...
9   Table 1.10 Occupational separations and openin...
10  Table 1.11 Employment in STEM occupations, 202...
11  Table 1.12 Factors affecting occupational util...
12  Table 5.3 Educational attainment for workers 2...
13  Table 5.4 Education and training assignments b...

In [ ]:
# # Unused data
# # https://www.bls.gov/oes/
# # May 2021
# file_to_load = os.path.join("Resources", "all_data_M_2021.xlsx")

# # Read the CSV into a DataFrame
# all_data_df = pd.read_excel(file_to_load)
# all_data_df

# # For interpretation of column names, use https://download.bls.gov/pub/time.series/oe/ and specifically area or datatype
# Datatype codes from https://download.bls.gov/pub/time.series/oe/oe.datatype